/* universal */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.m10 {
  margin: 10px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.pd10 {
  padding: 10px;
}

.pd30 {
  padding: 30px;
}

.pdt10 {
  padding-top: 10px;
}

.pdr10 {
  padding-right: 10px;
}

.pdb10 {
  padding-bottom: 10px;
}

.pdl10 {
  padding-left: 10px;
}

.tcenter {
  text-align: center;
}

/* style none */
.linknone {
  text-decoration: none;
  color: black;
}

.listnone {
  list-style: none;
}

/* header menu */
header,
footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

header ul {
  display: flex;
}

header li a {
  padding: 14px 16px;
  transition: background-color 0.5s;
}

header li a:hover {
  background-color: rgb(175, 175, 172);
}

header a {
  display: flex;
  align-items: center;
}

.aktif {
  background-color: rgb(175, 175, 172);
}
/* content */
.content {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/bg1.jpg");
  background-color: greenyellow;
}

.box {
  background-color: rgba(228, 228, 224, 0.7);
  width: 500px;
  height: 270px;
  margin-bottom: 10px;
  margin-top: 150px;
}

.box form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 10px; */
}

.box2 {
  width: 500px;
  height: 160px;
  border: 2px dashed gray;
}

#print {
  width: 600px;
  font-size: 90px;
  outline: none;
  border: none;
  color: grey;
}

.tombol1 {
  display: flex;
  flex-wrap: wrap-reverse;
  /* flex-direction: row; */
  align-content: center;
}

.tombol2 {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  align-content: center;
}

.tombol1 input,
.btn_ubah,
#submit_buat,
#register,
.tombol2 input {
  border: none;
  outline: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  margin: 0px;
  transition: background-color 0.2s;
}

.bgy {
  background-color: yellow;
}

.bgg {
  background-color: greenyellow;
}

.tombol1 input:hover {
  background-color: rgb(214, 214, 214);
}

.tombol2 input:hover {
  background-color: rgb(214, 214, 214);
}

.tombol1 input:active {
  background-color: grey;
}

.tombol2 input:active {
  background-color: grey;
}

.btn_ubah:hover {
  background-color: grey;
}

#submit_buat:hover {
  background-color: grey;
}

#register:hover {
  background-color: grey;
}

.over-x {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 1000px;
  height: 600px;
  border: 1px solid #ddd;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: gainsboro;
}

th {
  background-color: yellow;
}

.btn_ubah {
  width: 75px;
  height: 25px;
  font-size: 15px;
  align-items: center;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  padding: 5px 0;
  outline-color: rgb(0, 153, 255);
  margin: 10px;
  border: none;
}

#submit_buat,
#register,
.btn_ubah {
  width: 450px;
  height: 35px;
  font-size: 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
}

.input label {
  width: 450px;
  text-align: center;
}

.pemilihan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pemilihan span {
  margin: 0 80px;
}
/* footer menu */
footer {
  background-color: rgb(38, 41, 41);
}

footer .keterangan,
.map,
.medsos {
  width: 500px;
  height: 250px;
}

footer h3,
p,
.box2 h1,
.box2 h2 {
  color: grey;
}

footer .icon-med {
  display: flex;
  flex-direction: row;
}

footer .icon-cont li {
  display: flex;
  flex-direction: row;
}

footer ul li a img,
footer .icon-cont li img {
  width: 30px;
  height: 30px;
}
