* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(245, 157, 245);
  display: flex;
  justify-content: space-between;
}
.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header ul li {
  margin: 10px;
}
